* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Marcellus", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e292c;
}

body::after {
  content: "";
  background: url("/public/images/background-texture.png");

  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  width: 80px;
  height: 38px;
  border-radius: 10px;
  background-color: #dfd1b2;
  color: #452805;
  font-size: 22px;
  font-family: "Marcellus", sans-serif;
}

button:active {
  background-color: #e6a94d;
}

.Toastify {
  --linear-gold: linear-gradient(90deg, #e6a94d, #ffffff);

  --toastify-color-light: var(--linear-gold);
  --toastify-color-dark: var(--linear-gold);

  --toastify-font-family: "Marcellus", "sans-serif";
  --toastify-text-color-light: #000000;
  --toastify-text-color-dark: #000000;

  --toastify-color-info: #3498db;
  --toastify-color-success: #1a8008;
  --toastify-color-warning: #896e02;
  --toastify-color-error: #b51001;

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
}
